<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>
</head>
<body>
<table>
    <tr>
        <td>ID</td>
        <td>FirstName</td>
        <td>LastName</td>
        <td>Country</td>
        <td>PostalCode</td>
        <td>Phone number</td>
        <td>Email</td>
    </tr>
    <tr>
        <td th:text=""></td>
        <td th:text=""></td>
        <td th:text=""></td>
        <td th:text=""></td>
        <td th:text=""></td>
        <td th:text=""></td>
        <td th:text=""></td>
    </tr>
</table>
</body>
</html>